@model IEnumerable<ProyectoProgramacionAvanzada2024.Models.Carrito>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaCarritos</title>
</head>
<body>
    <p>
        @Html.ActionLink("Crear Carrito", "CrearCarrito")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarritoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCarrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoUsuario)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarritoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoCarrito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoUsuario)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "DetallesCarrito", new { id = item.CodigoCarrito }, new { @class = "btn btn-secondary"}) |
                    @Html.ActionLink("Editar Carrito", "EditarCarrito", "Carrito", new { id = item.CodigoCarrito }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Eliminar Carrito", "EliminarCarrito", "Carrito", new { id = item.CodigoCarrito }, new { @class = "btn btn-secondary" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
