
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProyectoProgramacionAvanzada2024.Models.Resena

@{
    ViewBag.Title = "Editar Reseña";
}

<h2>Editar Reseña</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.CodigoResena)

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoProducto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CodigoProducto, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CodigoUsuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CodigoUsuario, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Comentario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Calificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Calificacion, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Detalles", "DetallesResena", new { id = Model.CodigoResena }) |
    @Html.ActionLink("Eliminar", "EliminarResena", new { id = Model.CodigoResena }) |
    @Html.ActionLink("Volver a la Lista", "ListaResenas", null, new { @class = "btn btn-secondary" })
</p>