@model IEnumerable<ProyectoProgramacionAvanzada2024.Models.Producto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListaProductos</title>
</head>
<body>
    <p>
        @Html.ActionLink("Crear Producto", "CrearProducto")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponibilidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "DetallesProducto", new { id = item.CodigoProducto  }) |
                    @Html.ActionLink("Editar", "EditarProducto", new { id = item.CodigoProducto }) |
                    @Html.ActionLink("Eliminar", "EliminarProducto", new { id = item.CodigoProducto })
                </td>
            </tr>
        }

    </table>
</body>
</html>
