@model IEnumerable<ProyectoProgramacionAvanzada2024.Models.HistorialCompra>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Compras</title>
</head>
<body>
    <div class="container">
        <h2>Lista de Compras</h2>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CodigoUsuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CodigoProducto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaCompra)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoUsuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoProducto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaCompra)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "DetallesCompra", new { id = item.Id }, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("Editar", "EditarCompra", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Eliminar", "EliminarCompra", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @Html.ActionLink("Crear Nueva Compra", "CrearCompra", null, new { @class = "btn btn-success" })
        </div>
    </div>
</body>
</html>
